@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100vh;
    background: #131313;
}

.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 1200px;
    transform-style: preserve-3d;
}

.container .box{
    position: relative;
    width: 300px;
    height: 300px;
    margin: 40px;
    background: #232323;
    border-radius: 20px;
    transform-style: preserve-3d;
}

.container .box1::before{
     content: 'IIST';
     position: absolute;
     top: 25px;
     left: 55px;
     font-size: 6em;
     font-weight: 900;
     color: #fff;
     opacity: 0;
     transition: 0.5s;
}
.container .box2::before{
     content: 'IIP';
     position: absolute;
     top: 25px;
     left: 85px;
     font-size: 6em;
     font-weight: 900;
     color: #fff;
     opacity: 0;
     transition: 0.5s;
}
.container .box3::before{
     content: 'IIMR';
     position: absolute;
     top: 25px;
     left: 35px;
     font-size: 6em;
     font-weight: 900;
     color: #fff;
     opacity: 0;
     transition: 0.5s;
}

.container .box:hover::before{
    opacity: 0.06;
}

.container .box .name{
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    color: #fff;
    width: 100%;
    transform-style: preserve-3d;
    transform: translate3d(0,0,75px);
    transition: 0.5s;
    opacity: 0;
    z-index: 10;
    font-family: 'Nunito', sans-serif;
    font-size: 19px;
}


.container .box:hover .name{
    top: 35px;
    opacity: 1;
}

.container .box .visit{
    position: absolute;
    bottom: 0;
    left: 150px;
    transform-style: preserve-3d;
    transform: translate3d(-50%,0,75px);
    color: #fff;
    background: #333;
    padding: 10px 25px;
    border-radius: 30px;
    text-decoration: none;
    transition: 0.5s;
    opacity: 0;
    z-index: 10;
}

.container .box:hover .visit{
    bottom: 40px;
    opacity: 1;
}

/* .container .box .circle{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200%;
    height: 200px;
    border-radius: 50%;
    transition: 0.5s;
    background: #fff;
    transform-style: preserve-3d;
    z-index: 10;
    opacity: 1;
    transform: translate3d(-50%,-50%,50px);
} */

.container .box .institute{
    position: absolute;
    top: 55%;
    left: 50%;
    max-width: 200px;
    transition: 0.5s;
    z-index: 11;
    transition: 0.5s;
    transform-style: preserve-3d;
    transform: translate3d(-50%,-50%,0px);
}

.container .box:hover .institute{
    transform: translate3d(-50%,-50%,100px);
}